
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.starbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bottomleft{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bottomleft h1{
    font-size: 18px;

    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;

}

.starleft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.starleft>h1{

       color: #5565E8;
   font-size: 15px;
    font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.starleft img{
    border-radius: 60px;
}